#plans section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  width: 90%;
  background-color: #8e8d8a;
  overflow: hidden;
  text-align: center;
}

#plans section h2 {
  text-align: center;
}

#sign-up {
  padding: 4px 10px 4px 10px;
  border-style: outset;
  border-radius: 6px;
  border-width: 1px;
  border-color: black;
  font-size: 20px;
  background-color: darkgrey;
  color: black;
}

#sign-up:hover {
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

#plan-details {
  margin: 10px auto 10px auto;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  border-width: 1px;
  border-color: black;
  background-color: #6d6c69;
  width: fit-content;
}

#plan-details summary {
  cursor: pointer;
}

#plan-details ul {
  margin: 0 0 0 10px;
}

#questions {
  text-align: center;
}

#questions h3 {
  font-size: 25px;
}

#questions a {
  font-size: 20px;
  text-decoration: none;
}

#questions a:hover {
  color: rgb(161, 17, 17);
}
