/* MAIN AND BODY */

body {
  background-color: beige;
}

main{
  margin-top:100px;
}

/* NAVIGATION BAR */

#headernav {
    background-color: rgb(58, 57, 57);
    position:fixed;
    top:0;
    left:0;
    padding:10px;
    width: 100%;
}

#headernav nav{
  display: inline;
}

#headernav h1{
    width: 170px;
    color: white;
    display: inline;
}

#headernav ul{
    list-style-type: none;
    float: right;
    padding-right: 20px;
}

#headernav li {
  float: left;
  border-right: 1px solid #bbb;
}
#headernav li a {
  color: white;
  background-color: rgb(58, 57, 57);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

#headernav li a:hover {
  background-color: rgb(17, 17, 17);
}

/* FOOTER */

footer {
  background-color: rgb(58, 57, 57);
  color: white;
  padding: 30px;
  position: relative;
  left:0;
  bottom:0;
}
footer ul {
  list-style-type: none;
  display: inline;
}
footer li a {
  padding-right: 20px;
  float: right;
  color: white;
  background-color: rgb(58, 57, 57);
  text-align: center;
  text-decoration: none;
}
footer li {
  display: inline;
}
footer p {
  display: inline;
}
footer li a:hover {
  color: rgb(128, 151, 255);
}