/* MAIN AND BODY */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  body {
    background-color: #475a50;
  }
  
  main{
    margin-top:75px;
  }
  
  #banner{
    text-align: center;
    font-size: x-large;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 30px;
    background-image: url("image/gestion-du-temps-et-des-priorités-au-travail.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    
   
  
  }
  
  
  #contactinputs {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  
  #contactinputs input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  
  #messbox{
    height: 100px;
  }
  
  #inputsubmit{
    height: 30px;
    background-color: aquamarine;
  }
  #centerpiece{
    text-align: center;
  }
  
  /* NAVIGATION BAR */
  
  #headernav {
    background-color: rgb(58, 57, 57);
    position:fixed;
    top:0;
    left:0;
    padding:20px;
    width: 100%;
  }
  
  #headernav nav{
    display: inline;
  }
  
  #headernav h1{
      width: 170px;
      color: white;
      display: inline;
  }
  
  #headernav ul{
      
      list-style-type: none;
      float: right;
      padding-right: 50px;
      padding-top: 12px;
  }
  
  #headernav li {
    overflow-y: hidden;
    float: left;
    border-right: 1px solid #bbb;
  }
  #headernav li a {
    color: white;
    background-color: rgb(58, 57, 57);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  #headernav li a:hover {
    background-color: rgb(17, 17, 17);
  }

  

  
  /* FOOTER */
  
  footer {
    background-color: rgb(58, 57, 57);
    color: white;
    padding: 30px;
    position: relative;
    left:0;
    bottom:0;
  }
  footer ul {
    list-style-type: none;
    display: inline;
  }
  footer li a {
    padding-right: 20px;
    float: right;
    color: white;
    background-color: rgb(58, 57, 57);
    text-align: center;
    text-decoration: none;
  }
  footer li {
    display: inline;
  }
  footer p {
    display: inline;
  }
  footer li a:hover {
    color: white;
  }